/* ALL HEADERS */

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #ddd;
}

a{
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 200;
}

.menu-toggle, .mobile-nav{
	display: none;
}

.menu-toggle:hover{
	cursor: pointer;
}

.header{
	margin: 20px 0; /*REMOVE THIS WHEN ADDED TO A WEBSITE*/
}

.header:first-of-type{
	margin-top: 0; /*REMOVE THIS WHEN ADDED TO A WEBSITE*/
}

.navigation ul{
	padding-left: 0;
	margin: 0;
	list-style-type: none;
}

.navigation li{
	display: inline-block;
	padding: 30px 15px;
}

.navigation a:hover{
	border-bottom: 2px solid #32a8e6;
}

/* CLEARFIX */

.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* CONTAINER */

.container{
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

/* HEADER WRAP ONE */

.header-wrap-one{
	background-color: #434552;
	color: #fff;
}

.header-wrap-one a{
	color: #fff;
}

.header-wrap-one .logo{
	float: left;
}

.header-wrap-one .navigation, .header-wrap-one .menu-toggle{
	text-align: right;
}

.header-wrap-one .menu-toggle{
	padding: 30px 0;
}

/* HEADER WRAP TWO */

.header-wrap-two{
	background-color: #fff;
}

.header-wrap-two, .header-wrap-two a{
	color: #434552;
}

.three { 
	width: 23.8%; 
}

.six { 
	width: 49.2%; 
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type { 
	margin-left: 0; 
}

.header-wrap-two .navigation{
	text-align: center;
}

.header-wrap-two .icons{
	padding: 20px 0;
	text-align: right;
}

.fa-facebook-square{
	color: #3b5998;
}

.fa-twitter-square{
	color: #55ACEE;
}

.fa-linkedin-square{
	color: #007bb5;
}

/* HEADER WRAP THREE */

.header-wrap-three{
	background-color: #434552;
	color: #fff;
}

.header-wrap-three a{
	color: #fff;
}

.header-wrap-three .navigation{
	text-align: center;
}

.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type { 
	margin-left: 0; 
}

.four{
	width: 32.26%;
}

.header-wrap-three .logo{
	margin: 0;
	padding: 8px 0;
}

.header-wrap-three .icons .fa:first-of-type{
	padding-left: 0;
}

.header-wrap-three .first-col{
	text-align: left;
}

.header-wrap-three .second-col{
	text-align: center;
}

.header-wrap-three .third-col{
	text-align: right;
}

.header-wrap-three .icons{
	padding: 8px 0;
}

.header-wrap-three .icons .fa{
	padding: 0 10px;
}

.header-wrap-three .menu-toggle{
	padding: 10px 0;
}

/* HEADER WRAP FOUR */

.header-wrap-four{
	background-color: #fff;
}

.header-wrap-four .header-top{
	background-color: #32a8e6;
	color: #fff;
}

.header-wrap-four .header-bottom, .header-wrap-four .header-bottom a{
	color: #434552;
}

.header-wrap-four .icons{
	padding: 8px 0;
}

.header-wrap-four .icons .fa{
	padding: 0 10px;
}

.header-wrap-four .icons .fa:first-of-type{
	padding-left: 0;
}

.header-wrap-four .logo{
	float: left;
}

.header-wrap-four .navigation, .header-wrap-four .menu-toggle{
	text-align: right;
}

.header-wrap-four .menu-toggle{
	padding: 30px 0;
}

/* HEADER WRAP FIVE */

.header-wrap-five{
	background-color: #fff;
}

.header-wrap-five .header-top{
	background-color: #434552;
	color: #fff;
}

.header-wrap-five .logo{
	float: right;
}

.header-wrap-five .navigation{
	float: left;
}

.header-wrap-five .navigation li:first-of-type{
	padding-left: 0;
}

.header-wrap-five .header-bottom, .header-wrap-five .header-bottom a{
	color: #434552;
}

.header-wrap-five .icons{
	padding: 8px 0;
	display: inline-block;
}

.header-wrap-five .shopping-icons{
	float: right;
}

.header-wrap-five .shopping-icons .fa:last-of-type{
	padding-right: 0;
}

.header-wrap-five .icons .fa{
	padding: 0 10px;
	color: #32a8e6;
}

.header-wrap-five .icons .fa:first-of-type{
	padding-left: 0;
}

.header-wrap-five .menu-toggle{
	padding: 30px 0;
}

/* RESPONSIVENESS */

@media screen and (max-width: 940px){
	.container{
		width: 95%;
	}
}

@media screen and (max-width: 799px){
	.navigation{
		display: none;
	}

	.menu-toggle{
		display: block;
	}

	.mobile-nav{
		background-color: inherit;
		height: 100%;
		width: 100%;
		min-width: 100%;
		margin: 30px 0;
		display: none;
		transition: all 0.2s ease-in-out;
	}

	.mobile-nav ul{
		padding-left: 0;
		margin: 0;
		list-style-type: none;
	}

	.mobile-nav li{
		display: block;
		text-align: center;
		padding: 10px 0;
	}

	/*HEADER WRAP THREE*/
	.icons-hide{
		display: none;
	}

	.icons-responsive{
		text-align: center;
	}
}

@media screen and (max-width: 500px){
	.three, .four, .six{
		width: 100%;
		display: block;
		text-align: center;
	}

	.three .icons{
		text-align: center;
	}

	.col{
		float: none;
	}
}
