<header>
  <div class="container">
    <span id="home">
      <span class="ion-camera"></span>
    </span>
    <div class="box">
      <ul>
        <li>
          <a href="Books/myAcount">MyAccount</a>
        </li>
        <li>
          <a href="Books/products">Products</a>
        </li>
        <li>
          <a href="Books/cart">Cart</a>
        </li>

      </ul>


    </div>

    <span id="menu">
    
        <span>Hello </span>
        <span>{{user.name}}</span>
        
     
      <img src={{user.img}} style="width: 20px;height: 20px;">
    </span>
  </div>
</header>