<h1>title: {{book.volumeInfo.title}}</h1>
<h2>subtitle:  {{book.volumeInfo.subtitle}}</h2>
<h3>authors:  {{book.volumeInfo.authors}}</h3>
<h4>publisher:  {{book.volumeInfo.publisher}}</h4>
<h4>publishedDate:  {{book.volumeInfo.publishedDate}}</h4>
<p>description:  {{book.volumeInfo.description}}</p>
<h4>pageCount:  {{book.volumeInfo.pageCount}}</h4>

  <img src={{book.volumeInfo.pageCount["imageLinks"]}} style="width: 20%;height: 20%"/> 

<input type="button" value="AddToCart" (click)="AddToCart()">
<input type="button" value="AllProducts" (click)="back()">
